repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: destroyed-symlinks
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.4.0
  hooks:
  - id: markdownlint-cli2
    exclude: ^LICENSE\.md$
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.4
  hooks:
  - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: [
      --ignore-words=.codespellignore,
    ]
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: fmt
    args: [
      --all,
      --,
    ]
  - id: cargo-check
    args: [
      --locked,
      --workspace,
      --all-features,
      --all-targets,
    ]
  - id: clippy
    args: [
      --locked,
      --workspace,
      --all-features,
      --all-targets,
      --,
      -D,
      warnings,
    ]
